// Add your custom CSS here.
.header__category{
  color: #ffffff;
}
.header__submenu{
  background:  #dad1a6;
}
.footer__title {
  color:#7C7C7Cb0;
}
.i-chevron-right{
  color:#7C7C7Cb0;
}
.footer__credits {
  color:#7C7C7Cb0;
}
.footer__links {
    font-weight: 100;
}
.header__nav {
    text-transform: capitalize;
}
.product__payment {
  display: none;
}
